<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Cooking Temperatures</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>👵 HoosierHelper – Your Kitchen Friend</h1>
            <h2>Cooking Temperatures</h2>
        </header>

        <nav>
            <h3>Menu</h3>
            <ul>
                <li><a href="index.html">Find Recipes from Ingredients</a></li>
                <li><a href="measurement.html">Measurement Conversions</a></li>
                <li><a href="temperature.html">Cooking Temperatures</a></li>
            </ul>
        </nav>

        <main>
            <h3>Meat Temperature Info</h3>
            <p>Cooking meat, fish, and other foods to the correct temperature is very important for food safety!</p>
            <p>Make sure to review the temperatures below and use a food thermometer when cooking to check if your food has reached the necessary temperature.</p>
            <p>Need to check the temperature in Celsius? Check out the Measurement Conversions page.</p>

            <table>
                <thead>
                    <tr>
                        <th>Meat</th>
                        <th>Temperature</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <td>Chicken / Poultry</td>
                        <td>165°F</td>
                    </tr>
                    <tr>
                        <td>Beef - Steaks / Roasts / Chops</td>
                        <td>145°F</td>
                    </tr>
                    <tr>
                        <td>Beef - Ground Meat and Sausage</td>
                        <td>160°F</td>
                    </tr>
                    <tr>
                        <td>Egg Dishes</td>
                        <td>160°F</td>
                    </tr>
                    <tr>
                        <td>Raw Ham</td>
                        <td>145°F</td>
                    </tr>
                    <tr>
                        <td>Precooked Ham</td>
                        <td>165°F</td>
                    </tr>
                    <tr>
                        <td>Pork - Steaks / Roasts / Chops</td>
                        <td>145°F</td>
                    </tr>
                    <tr>
                        <td>Pork - Ground Meat and Sausage</td>
                        <td>160°F</td>
                    </tr>
                    <tr>
                        <td>Fish - Whole and Filet</td>
                        <td>145°F</td>
                    </tr>
                    </tbody>
            </table>
        </main>

        <footer>

        </footer>
    </div>
</body>
</html>